.header-box {
  position: relative;
  padding: 30px;
  margin-top: 30px;
  background: #fff;
  width: 100%;
  height: 305px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 3px 6px 0 rgba(0,0,0,0.23);
}

.profile-info-container {
  position: relative;
  padding: 30px;
  margin-top: 35px;
  background: #fff;
  width: 100%;
  min-height: 620px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 3px 6px 0 rgba(0,0,0,0.23);
}

.menu-container {
  position: absolute;
  left: 0;
  height: 60px;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 2px -2px rgba(0,0,0,0.3);
}

.material-tabs li {
  margin-right: 10px !important;
  height: 100%;
}

.material-tabs li > .material-tabs__tab-link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  -webkit-transition: background-color .5s ease-out .1s;
  transition: background-color .5s ease-out .1s;
  cursor: pointer;
  padding: 19.5px 0;
  position: relative;
  display: block;
}

.material-tabs li:first-child {
  margin-left: 220px;
}

.material-tabs li > .material-tabs__tab-link:after,
.material-tabs li > .material-tabs__tab-link:before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateZ(0px) translate(-50%, 0);
  transform: translateZ(0px) translate(-50%, 0);
  -webkit-transition: width .3s ease-out .1s;
  transition: width .3s ease-out .1s;
  color: #595e62;
}

.material-tabs > li > .material-tabs__tab-link.active:after,
.material-tabs > li > .material-tabs__tab-link.active:before {
  width: 100%;
}

.material-tabs > li > .material-tabs__tab-link.active:after,
.material-tabs > li > .material-tabs__tab-link.active:before,
.material-tabs > li > .material-tabs__tab-link.active:focus:after,
.material-tabs > li > .material-tabs__tab-link.active:focus:before,
.material-tabs > li > .material-tabs__tab-link.active:hover:after,
.material-tabs > li > .material-tabs__tab-link.active:hover:before {
  background-color: #028dfe;
}

.photo-card {
  position: absolute;
  left: 22px;
  bottom: 22px;
  width: 170px;
  height: 170px;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.20);
  background-color: #eff6fd;
  border: none!important;
  border-radius: 0!important;
  margin: 0;
  text-align: center;
  padding: 50px 15px;
  color: #727e88;
  font-size: .9em;

  > i {
    font-size: 3.4em;
    color: #d0dce7;
    line-height: 1.2em;
  }

}

.profile-info {
  max-width: calc(100% - 200px);
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 70px;

  .info-container {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;

    .content-heading {
      padding-left: 10px;
    }
  }

  .reviews-block {
    color: #727e88;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .photo-card {
    width: 150px;
    height: 150px;
    left: 18px;
    bottom: 18px;
    padding: 45px 15px;

    > i {
      font-size: 3.2em;
    }
  }

  .profile-info {
    max-width: calc(100% - 170px);
  }
}
@media only screen and (max-width: 543px) {
  .profile-info {
    bottom: 130px!important;
  }

  .profile-info-container {
    padding: 20px;
  }

}
@media only screen and (max-width: 767px) {
  .menu-container {
    overflow: hidden;
    overflow-x: scroll;
  }

  .logout-button {
    background: transparent;
    border: none;
  }

  .material-tabs {
    width: 1000px;
  }

  .photo-card {
    width: 130px;
    height: 130px;
    left: calc(50% - 65px);
    top: 75px;
    padding: 40px 15px;
    background: url("assets/profile_image.jpg") no-repeat;
    background-position: -100px 0;

    > * {
      display: none;
    }

    > i {
      font-size: 3em;
    }
  }

  .profile-layout-container {
    padding-left: 0;
  }

  .header-box {
    position: relative;
    padding: 0;
    margin-top: 0;
    background: #f5f8f9;
    width: 100%;
    height: 480px;
    margin-bottom: 20px;
    top: 0;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 3px 6px 0 rgba(0,0,0,0.23);
  }

  .profile-layout-container {
    padding: 0;
  }

  .profile-info {
    max-width: 100%;
    bottom: 130px;

    .info-container {
      max-width: 100%;

      .content-heading {
        text-align: center;
      }

      > h4 {
        text-align: center;
      }
    }
  }

  .logout-button {
    margin: 15px;
  }

  .menu-container {
    bottom: 15px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.3), 0 -2px 2px -2px rgba(0,0,0,0.3);

    .material-tabs li:first-child {
      margin-left: 0;
      padding-left: 20px;
    }

    .material-tabs li:last-child {
      padding-right: 20px;
    }
  }
}

.upload-photo-button {
  width: 100%;
  height: 45px;
  border-color: #d0dce7;
  font-weight: normal;
  color: #d0dce7;
  padding: 14px 14px 14px 35px;
  position: relative;
  text-transform: none;

  > i {
    position: absolute;
    left: 0;
    font-size: 25px;
    margin: 7px 17px;
    top: 0;
  }
}
