<div class='row'>
    <div class="col-xs-12 offset-xs-0 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 profile-layout-container">
        <div class='header-box'>
            <div class="container-fluid">
                <div class='row'>
                    <div class="col-xs-12">
                        <button class="btn material-btn material-btn-primery outline float-xs-right logout-button" (click)='onLogout()'>LOGOUT</button>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-xs-4 offset-xs-4 hidden-sm-down">
                        <a href='' class="btn material-btn material-btn-primery outline upload-photo-button">
                             <i class='icon ion-ios-camera'></i>
                             <span>Upload Cover Image</span></a>
                    </div>
                </div>
                <div class="menu-container">
                    <ul class="nav navbar-nav material-tabs">
                        <li class="nav-item">
                            <a routerLink='/profile/about' class="material-tabs__tab-link" routerLinkActive="active">About </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink='/profile/settings' class="material-tabs__tab-link" routerLinkActive="active">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink='/profile/settings' class="material-tabs__tab-link">Option1</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink='/profile/settings' class="material-tabs__tab-link">Option2</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink='/profile/settings' class="material-tabs__tab-link">Option3</a>
                        </li>
                    </ul>
                </div>
                <div class="card card-block photo-card">
                    <i class='icon ion-ios-camera'></i>
                    <p class="card-text">Upload Photo</p>
                </div>
            </div>
            <div class="profile-info">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-8 offset-xs-2 col-md-6 offset-md-0 float-md-left">
                            <div class="info-container">
                                <div class="content-heading">
                                    <h4>{{profile?.firstName}} {{profile?.lastName}}</h4>
                                </div>
                                <div class='image-block'>
                                    <i class='icon ion-ios-location-outline'></i>
                                    <span>{{profile?.address?.city}}, {{profile?.address?.state  | uppercase}}</span>
                                </div>
                                <div class='image-block'>
                                    <i class='icon ion-ios-telephone-outline'></i>
                                    <span>{{profile?.phone}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 offset-xs-2 col-md-6 offset-md-0 float-md-right reviews-block">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <rating [ngModel]="profile?.stars" [max]="5" [readonly]="true" stateOn="ion-android-star" stateOff="ion-android-star-outline"></rating>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <span style='margin: 0 20px'>
                                        {{profile?.reviewsCount}} Reviews
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class="col-xs-12 offset-xs-0 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 profile-layout-container">
        <div class="profile-info-container">
            <router-outlet>
                <!-- profile child compoennt here -->
            </router-outlet>
        </div>
    </div>
</div>