<div class="screen-central-layout">
    <div id="bg">
        <img src="assets/fullscreen_bg_image.jpg" alt="">
    </div>
    <div class="form-box">
        <div class='row'>
            <div class="col-xs-12">
                <div class="head">Login</div>
                <div class="form-group">
                    <div class='alert material-alert material-alert_danger' *ngIf='!!error'>
                        <span>{{error}}</span>
                        <button class="close material-alert__close" (click)="error=''">&times;</button>
                    </div>
                    <div class='alert material-alert material-alert_info' *ngIf='!!message'>
                        {{message}}
                        <button class="close material-alert__close" (click)="message=''">&times;</button>
                    </div>
                </div>
                <form role="form" id="login-form" [formGroup]="signInForm" no-validate (submit)="onSubmit(signInForm.value)">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" class="form-control" id="username" formControlName="username" required/>
                        <label class="float-label" for="username">EMAIL</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" class="form-control" class="form-control" id="password"
                            formControlName="password" required />
                        <label class="float-label" for="password">Password</label>
                    </div>
                    <p class="info-text">By signing up or clicking continue, Iconfirm that I have read and agree to the <a href="#">Terms</a>                        and <a href="#">Privacy policy</a></p>
                    <input type="submit" value="Login" class="btn material-btn material-btn-primery full-size" />
                </form>
            </div>
        </div>
    </div>
</div>