.screen-central-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.form-box {
  position: relative;
  padding: 30px;
  top: calc(50% - 250px);
  background: #fff;
  max-width: 500px;
  left: calc(50% - 250px);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 3px 6px 0 rgba(0,0,0,0.23);
}
@media screen and (min-width: 544px) and (max-width: 767px) {
  .form-box {
    max-width: 450px;
    left: calc(50% - 225px);
  }
}
@media only screen and (min-width: 1200px) {
  .form-box {
    max-width: 550px;
    left: calc(50% - 275px);
  }
}
@media only screen and (max-width: 767px) {
  .screen-central-layout {
    top: 0;
    left: 0;
  }

  .form-box {
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
  }
}

form#login-form {
  overflow: hidden;
  position: relative;
  padding: 0;
}

.info-text {
  color: #B9C1CA;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

.info-text a {
  color: #175690;
}
