@import 'variables';

html {
  color: #222;
  line-height: 1.42857143; 
}

body {
  background-color: #f5f8f9;
}

body {
  height: 100%;
  width: 100%;

}

body,
html {
  font-size: 1rem;
  font-family: 'Open Sans';
  height: auto;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.h1,
.h2,
.h3,
.h4,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  font-weight: 300;
}

h4.header {
  color: #7e8992;
}

h5,
h6 {
  font-weight: 400;
}

.page-wrap {
  min-height: 100%;
}

.page-wrap:after {
  content: "";
  display: block;
}

.content-area {
  margin: 0 auto;
}
.hidden{
  display: none;
}

.head {
  color: #333;
  font-size: 26px;
  font-weight: normal;
  padding: 5px 0 20px;
  text-align: center;
  background: white;
  border-bottom: 1px solid #eee;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  width: auto;
  height: auto;
}
