// .main-container{
//     background: url('assets/fullscreen_bg_image.jpg') no-repeat;
//     -moz-background-size: 100%; 
//     -webkit-background-size: 100%; 
//     -o-background-size: 100%; 
//     background-size: 100%; 
// }