.editable-group {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  position: relative;

  span,
  strong {
    padding: 7px 50px 7px 10px;
    color: #52575b;
    position: relative;
  }
}

.image-block {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f5f8f8;
  color: #52575b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;

  > a {
    position: absolute;
    top: 0;
    right: 0;
    color: #727e88;
    background: #ecf1f5;
    padding: 5px 10px;
    height: 100%;
  }

  > a:hover {
    background: #007ee5;
    color: #fff;
  }

  > i {
    font-size: 1.4em;
  }
}

.control-button {
  background: transparent;
  border: none;
}
@media only screen and (max-width: 543px) {
  .control-button {
    padding: 5px !important;
  }
}

h4.header {
  margin-left: 10px;
}

.starsBlock {
  color: #007ee5;
}
