<div class="container-fluid">
    <div class="row">
        <div class="col-xs-5">
            <h4 class='header'>Profile info</h4>
        </div>
        <div class="col-xs-7 hidden-md-up">
            <div class='float-xs-right'>
                <button (click)='cancelForm()' class="btn material-btn material-btn-primery outline control-button">CANCEL</button>
                <button (click)='save()' class="btn material-btn material-btn-primery outline control-button">SAVE</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class='alert material-alert material-alert_danger' *ngIf='!!error'>
                <span>{{error}}</span>
                <button class="close material-alert__close" (click)="error=''">&times;</button>
            </div>
            <div class='alert material-alert material-alert_info' *ngIf='!!message'>
                {{message}}
                <button class="close material-alert__close" (click)="message=''">&times;</button>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="starsBlock hidden-sm-down">
            <div class="offset-xs-4 offset-lg-3" style='position: absolute;'>
                <!-- See: https://github.com/valor-software/ng2-bootstrap/issues/959 -->
                <!-- To make it work I was forced to put it outside the form. This is just to show in on screen -->
                <!--<rating [(ngModel)]="stars" formControlName="stars" [max]="max" [readonly]="false" stateOn="ion-android-star" stateOff="ion-android-star-outline"></rating>-->
                <rating [ngModel]="stars" [max]="max" [readonly]="false" stateOn="ion-android-star" stateOff="ion-android-star-outline"></rating>
            </div>
        </div>

        <div class="col-xs-12 col-m">
            <form role="form" [formGroup]="profileForm" novalidate>
                <div class="form-group hidden-md-up" [class.invalid]="profileForm.controls['firstName'].hasError('required')">
                    <input type="text" class="form-control" name="firstName" id="firstName" formControlName="firstName" required [(ngModel)]="firstName"
                    />
                    <span class='invalid-label'>Field is required</span>
                    <label class="float-label" for="firstName">FIRST NAME</label>
                </div>

                <!-- BLOCK FOR EDITOR WITHIN POPUP -->
                <div class="editable-group hidden-sm-down" [class.invalid]="profileForm.controls['firstName'].hasError('required')">

                    <div class="row">
                        <div class="col-xs-6">
                            <div class='image-block' style='padding-left: 0;' id='firstNameGroup'>
                                <strong>
                            <b> {{formSnapshot.firstName}}</b>                       
                        </strong>
                                <a #btn_firstName (click)='firstNamePopup.show()' class='ion-edit'></a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <span style='color: #727e88; font-size:0.9em;'>
                                5 reviews
                            </span>
                        </div>
                    </div>


                    <myPopup #firstNamePopup='popup' [control]='btn_firstName' (onsave)='save(true)' (oncancel)='cancelForm()' linkTo='firstNameGroup'>
                        <div class="form-group" style='margin-top: 15px!important'>
                            <input type="text" class="form-control" name="firstNamePopup" id="firstNamePopup" formControlName="firstName" required [(ngModel)]="firstName"
                            />
                            <span class='invalid-label'>Field is required</span>
                            <label class="float-label" for="firstNamePopup">FIRST NAME</label>
                        </div>
                    </myPopup>
                </div>
                <!-- BLOCK -->
                <div class="form-group hidden-md-up" [class.invalid]="profileForm.controls['lastName'].hasError('required')">
                    <input type="text" class="form-control" name="lastName" id="lastName" formControlName="lastName" required [(ngModel)]="lastName"
                    />
                    <span class='invalid-label'>Field is required</span>
                    <label class="float-label" for="lastName">LAST NAME</label>
                </div>
                <div class="editable-group hidden-sm-down">
                    <div class='image-block' style='padding-left: 0;' id='lastNameGroup'>
                        <strong>
                            <b>{{formSnapshot.lastName}}</b>                          
                        </strong>
                        <a #btn_lastName (click)='lastNamePopup.show()' class='ion-edit'></a>
                    </div>
                    <myPopup #lastNamePopup='popup' [control]='btn_lastName' (onsave)='save()' (oncancel)='cancelForm()' linkTo='lastNameGroup'>
                        <div class="form-group" style='margin-top: 15px!important'>
                            <input type="text" class="form-control" name="lastNamePopup_input" id="lastNamePopup_input" formControlName="lastName" required
                                [(ngModel)]="lastName" />
                            <span class='invalid-label'>Field is required</span>
                            <label class="float-label" for="lastNamePopup_input">LAST NAME</label>
                        </div>
                    </myPopup>
                </div>
                <div class="form-group hidden-md-up" [class.invalid]="profileForm.controls['website'].hasError('required')">
                    <input type="text" class="form-control" name="website" id="website" formControlName="website" required [(ngModel)]="website"
                    />
                    <span class='invalid-label'>Field is required</span>
                    <label class="float-label" for="website">WEBSITE</label>
                </div>

                <div class="editable-group hidden-sm-down">
                    <div class='image-block' id='websiteGroup'>
                        <i class='icon ion-android-globe'></i>
                        <span>
                              {{formSnapshot.website}}                                  
                        </span>
                        <a #btn_website (click)='websitePopup.show()' class='ion-edit'></a>
                    </div>
                    <myPopup #websitePopup='popup' [control]='btn_website' (onsave)='save()' (oncancel)='cancelForm()' linkTo='websiteGroup'>
                        <div class="form-group" style='margin-top: 15px!important'>
                            <input type="text" class="form-control" name="website" id="website" formControlName="website" required [(ngModel)]="website"
                            />
                            <span class='invalid-label'>Field is required</span>
                            <label class="float-label" for="website">WEBSITE</label>
                        </div>
                    </myPopup>
                </div>
                <div class="form-group hidden-md-up" [class.invalid]="profileForm.controls['phone'].hasError('required')">
                    <input type="text" class="form-control" name="phone" id="phone" formControlName="phone" required [(ngModel)]="phone" />
                    <span class='invalid-label'>Field is required</span>
                    <label class="float-label" for="phone">PHONE</label>
                </div>
                <div class="editable-group hidden-sm-down">

                    <div class='image-block' id='phoneGroup'>
                        <i class='icon ion-ios-telephone-outline'></i>
                        <span>
                            {{formSnapshot.phone}}                                     
                        </span>
                        <a #btn_phone (click)='phonePopup.show()' class='ion-edit'></a>
                    </div>

                    <myPopup #phonePopup='popup' (onsave)='save()' [control]='btn_phone' (oncancel)='cancelForm()' linkTo='phoneGroup'>
                        <div class="form-group" style='margin-top: 15px!important'>
                            <input type="text" class="form-control" name="phone" id="phone" formControlName="phone" required [(ngModel)]="phone" />
                            <span class='invalid-label'>Field is required</span>
                            <label class="float-label" for="phone">PHONE</label>
                        </div>
                    </myPopup>
                </div>

                <div class="form-group hidden-md-up">
                    <address-input mode="popup" [(ngModel)]="address" formControlName="address">
                        <!--content to be shown on dropdown-->
                        CITY, STATE & ZIP
                    </address-input>
                </div>
                <div class="editable-group hidden-sm-down">
                    <div class='image-block' id='addressGroup'>
                        <i class='icon ion-android-home'></i>
                        <span>
                             {{formSnapshot.address?.city}}, {{formSnapshot.address?.state}} & {{formSnapshot.address?.zip}}                            
                        </span>
                        <a #btn_address (click)='addressPopup.show()' class='ion-edit'></a>
                    </div>
                    <myPopup #addressPopup='popup' [control]='btn_address' (onsave)='save()' (oncancel)='cancelForm()' linkTo='addressGroup'>
                        <address-input [(ngModel)]="address" formControlName="address"> </address-input>
                    </myPopup>
                </div>
            </form>
        </div>
    </div>
</div>