<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-xl-4">
        <h4 class="header hidden-sm-down">Change Password</h4>
        <h4 class="header hidden-md-up">Settings</h4>
        <div class="form-group">
            <div class='alert material-alert material-alert_danger' *ngIf='!!error'>
                <span>{{error}}</span>
                <button class="close material-alert__close" (click)="error=''">&times;</button>
            </div>
            <div class='alert material-alert material-alert_info' *ngIf='!!message'>
                {{message}}
                <button class="close material-alert__close" (click)="message=''">&times;</button>
            </div>
        </div>
        <form role="form" [formGroup]="changePasswordForm" no-validate (submit)="onSubmit(changePasswordForm)">
            <div class="form-group">
                <input type="password" class="form-control" name="oldpassword" id="oldpassword" formControlName="oldpassword" required [ngModel]="model.oldpassword"
                />
                <label class="float-label" for="oldpassword">Existing Password</label>
            </div>
            <div class="form-group">
                <input type="password" name="newpassword" class="form-control" id="newpassword" formControlName="newpassword" required [ngModel]='model.newpassword'
                />
                <label class="float-label" for="newpassword">New Password</label>
            </div>
            <div class="form-group" [class.invalid]="changePasswordForm.hasError('equal') && submitted">
                <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" formControlName="confirmpassword"
                    [ngModel]='model.confirmpassword' required/>
                <span class='invalid-label'> Passwords must be the same</span>
                <label class="float-label" for="confirmpassword">Confirm Password</label>
            </div>
            <input type="submit" value="SAVE" class="btn material-btn material-btn-primery" />
        </form>
    </div>
</div>